* {
	padding: 0;
	margin: 0;
}

section {
	padding: 10px;
	display: flex;
	flex-direction: row;
}

article {
	padding: 10px;
	margin: 5px;
	background-color: hsla(1, 100%, 99%, 1);
}

div.container {
	padding: 5px;
}

button {
	margin: 2px;
}

example1{
	width:100px;
	height:50px;
	border:5px solid red;;
}

example2{
	width:100px;
	height:50px;
	border:5px solid blue;;
}
